.container{
  display: inline-block;
  width: 100%;
  background-color: rgb(44, 44, 44, 0.7);
  border-radius: 15px;
  padding-bottom: 5rem;
}
.searchBar{
  display:flex;
  border-width: thick;
  justify-content: center;
}
.input{
  margin-right: 7px;
  padding: 5px;
  border-radius: 8px;
}