/* .container{
  background-color: rgb(75, 75, 75, 0.7)

}

.form{
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
}

.button{
  position: absolute;
  width: 25%;
  right: 0px;
  bottom: 33%;
} */


.container {
  background-color: rgb(105, 105, 105, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.form {
  background-color: #ffffff; /* White background for the form */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.button {
  background-color: #4c4c4c; /* Gray button color */
  color: #ffffff; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

